**Find Cities where COVID cases are increasing continuously.**

In [0]:
create table covid(city varchar(50),days date,cases int);
delete from covid;
insert into covid values('DELHI','2022-01-01',100);
insert into covid values('DELHI','2022-01-02',200);
insert into covid values('DELHI','2022-01-03',300);

insert into covid values('MUMBAI','2022-01-01',100);
insert into covid values('MUMBAI','2022-01-02',100);
insert into covid values('MUMBAI','2022-01-03',300);

insert into covid values('CHENNAI','2022-01-01',100);
insert into covid values('CHENNAI','2022-01-02',200);
insert into covid values('CHENNAI','2022-01-03',150);

insert into covid values('BANGALORE','2022-01-01',100);
insert into covid values('BANGALORE','2022-01-02',300);
insert into covid values('BANGALORE','2022-01-03',200);
insert into covid values('BANGALORE','2022-01-04',400);

num_affected_rows,num_inserted_rows
1,1

In [0]:
select * from covid

city,days,cases
BANGALORE,2022-01-04,400
BANGALORE,2022-01-01,100
BANGALORE,2022-01-02,300
BANGALORE,2022-01-03,200
CHENNAI,2022-01-02,200
CHENNAI,2022-01-01,100
CHENNAI,2022-01-03,150
MUMBAI,2022-01-02,100
MUMBAI,2022-01-01,100
MUMBAI,2022-01-03,300
DELHI,2022-01-02,200
DELHI,2022-01-01,100
DELHI,2022-01-03,300

In [0]:

select
*,
rank() over(partition by city order by cases ) as rank_cases,
rank() over(partition by city order by days) as rank_days
from covid

city,days,cases,rank_cases,rank_days
BANGALORE,2022-01-01,100,1,1
BANGALORE,2022-01-03,200,2,3
BANGALORE,2022-01-02,300,3,2
BANGALORE,2022-01-04,400,4,4
CHENNAI,2022-01-01,100,1,1
CHENNAI,2022-01-03,150,2,3
CHENNAI,2022-01-02,200,3,2
DELHI,2022-01-01,100,1,1
DELHI,2022-01-02,200,2,2
DELHI,2022-01-03,300,3,3
MUMBAI,2022-01-01,100,1,1
MUMBAI,2022-01-02,100,1,2
MUMBAI,2022-01-03,300,3,3

In [0]:
with cte_diff as (
select
*,
rank() over(partition by city order by cases ) as rank_cases,
rank() over(partition by city order by days) as rank_days,
rank() over(partition by city order by cases ) - rank() over(partition by city order by days ) as diff
from covid ) 

select * from cte_diff ;

city,days,cases,rank_cases,rank_days,diff
BANGALORE,2022-01-01,100,1,1,0
BANGALORE,2022-01-03,200,2,3,-1
BANGALORE,2022-01-02,300,3,2,1
BANGALORE,2022-01-04,400,4,4,0
CHENNAI,2022-01-01,100,1,1,0
CHENNAI,2022-01-03,150,2,3,-1
CHENNAI,2022-01-02,200,3,2,1
DELHI,2022-01-01,100,1,1,0
DELHI,2022-01-02,200,2,2,0
DELHI,2022-01-03,300,3,3,0
MUMBAI,2022-01-01,100,1,1,0
MUMBAI,2022-01-02,100,1,2,-1
MUMBAI,2022-01-03,300,3,3,0

In [0]:
with cte_diff as (
select
*,
rank() over(partition by city order by cases ) as rank_cases,
rank() over(partition by city order by days) as rank_days,
rank() over(partition by city order by cases ) - rank() over(partition by city order by days ) as diff
from covid ) 

select city from cte_diff group by city having count(distinct diff) = 1 and max(diff)=0;

city
DELHI