> # FIND EMPLOYEES WITH SALARY MORE THAN THEIR MANAGERS

In [0]:
%sql
--Create Statement
create table emp(emp_id int,emp_name varchar(10),salary int ,manager_id int);

insert into emp values(1,'Ankit',10000,4);
insert into emp values(2,'Mohit',15000,5);
insert into emp values(3,'Vikas',10000,4);
insert into emp values(4,'Rohit',5000,2);
insert into emp values(5,'Mudit',12000,6);
insert into emp values(6,'Agam',12000,2);
insert into emp values(7,'Sanjay',9000,2);
insert into emp values(8,'Ashish',5000,2);

select * from emp;

emp_id,emp_name,salary,manager_id
8,Ashish,5000,2
7,Sanjay,9000,2
2,Mohit,15000,5
4,Rohit,5000,2
5,Mudit,12000,6
1,Ankit,10000,4
3,Vikas,10000,4
6,Agam,12000,2

In [0]:
%sql
--Join with self table to fetch manager details
select
e2.emp_id as emp_id,
e2.emp_name as emp_name,
e2.salary as emp_sal,
e2.manager_id as manager_id,
e1.salary as manager_salary
from 
emp e1
join
emp e2
on e1.emp_id=e2.manager_id
where e2.salary>e1.salary

emp_id,emp_name,emp_sal,manager_id,manager_salary
2,Mohit,15000,5,12000
1,Ankit,10000,4,5000
3,Vikas,10000,4,5000

In [0]:
%sql
--Step by Step Approach
-- First start with inner join on the same tables
select 
employee.emp_id as employee_id,
employee.emp_name as employee_name,
employee.salary as employee_salary,
employee.manager_id as manager_id,
manager.emp_name as manager_name,
manager.salary as manager_salary
from
emp employee
inner join
emp manager on
employee.manager_id = manager.emp_id

employee_id,employee_name,employee_salary,manager_id,manager_name,manager_salary
8,Ashish,5000,2,Mohit,15000
7,Sanjay,9000,2,Mohit,15000
2,Mohit,15000,5,Mudit,12000
4,Rohit,5000,2,Mohit,15000
5,Mudit,12000,6,Agam,12000
1,Ankit,10000,4,Rohit,5000
3,Vikas,10000,4,Rohit,5000
6,Agam,12000,2,Mohit,15000

In [0]:
%sql

--Now put the filter where emp salary > manager salary
select 
employee.emp_id as employee_id,
employee.emp_name as employee_name,
employee.salary as employee_salary,
employee.manager_id as manager_id,
manager.emp_name as manager_name,
manager.salary as manager_salary
from
emp employee
inner join
emp manager on
employee.manager_id = manager.emp_id
and employee.salary > manager.salary;

employee_id,employee_name,employee_salary,manager_id,manager_name,manager_salary
2,Mohit,15000,5,Mudit,12000
1,Ankit,10000,4,Rohit,5000
3,Vikas,10000,4,Rohit,5000