In [0]:
%sql
create table icc_world_cup
(
Team_1 Varchar(20),
Team_2 Varchar(20),
Winner Varchar(20)
);
INSERT INTO icc_world_cup values('India','SL','India');
INSERT INTO icc_world_cup values('SL','Aus','Aus');
INSERT INTO icc_world_cup values('SA','Eng','Eng');
INSERT INTO icc_world_cup values('Eng','NZ','NZ');
INSERT INTO icc_world_cup values('Aus','India','India');

select * from icc_world_cup;

Team_1,Team_2,Winner
Aus,India,India
India,SL,India
SL,Aus,Aus
SA,Eng,Eng
Eng,NZ,NZ

In [0]:
%sql
select team_1, case when team_1=winner then 1 else 0 end as win_flag
from icc_world_cup
union all
select team_2, case when team_2=winner then 1 else 0 end as win_flag
from icc_world_cup

team_1,win_flag
Aus,0
India,1
SL,0
SA,0
Eng,0
India,1
SL,0
Aus,1
Eng,1
NZ,1

In [0]:
%sql
select
team_name,
count(*) as total_no_of_matches,
sum(win_flag) as total_no_of_wins,
count(*)-sum(win_flag) as total_no_of_losses
from
(
select team_1 as team_name, case when team_1=winner then 1 else 0 end as win_flag from icc_world_cup
union all
select team_2 as team_name, case when team_2=winner then 1 else 0 end as win_flag from icc_world_cup
) x
group by team_name
order by total_no_of_wins desc

team_name,total_no_of_matches,total_no_of_wins,total_no_of_losses
India,2,2,0
Aus,2,1,1
Eng,2,1,1
NZ,1,1,0
SL,2,0,2
SA,1,0,1