 **MEDIAN SALARY**

How to calculated median

(i)   median using row_number

(ii)  median using percentile_cont

median of a number means
->> it will be sorted first
->> then the middle value will be median

[1,2,3,4,10,12,14,16]

even number in input
->> sum of mid numbers :: [4+10]
14/2 : 7 will be mid number

odd number is input
->> middle number will be median
->> [1,2,3,5,7]
->> 3 is the median number

In [0]:
drop table if exists emp;
create table emp(
emp_id int,
emp_name varchar(20),
department_id int,
salary int,
manager_id int,
emp_age int);

insert into emp
values
(1, 'Ankit', 100,10000, 4, 39),
(2, 'Mohit', 100, 15000, 5, 48),
(3, 'Vikas', 100, 10000,4,37),
(4, 'Rohit', 100, 5000, 2, 16),
(5, 'Mudit', 200, 12000, 6,55),
(6, 'Agam', 200, 12000,2, 14),
(7, 'Sanjay', 200, 9000, 2,13),
(8, 'Ashish', 200,5000,2,12),
(9, 'Mukesh',300,6000,6,51),
(10, 'Rakesh',300,7000,6,50);

num_affected_rows,num_inserted_rows
10,10

In [0]:
select * from emp;

emp_id,emp_name,department_id,salary,manager_id,emp_age
1,Ankit,100,10000,4,39
2,Mohit,100,15000,5,48
3,Vikas,100,10000,4,37
4,Rohit,100,5000,2,16
5,Mudit,200,12000,6,55
6,Agam,200,12000,2,14
7,Sanjay,200,9000,2,13
8,Ashish,200,5000,2,12
9,Mukesh,300,6000,6,51
10,Rakesh,300,7000,6,50

In [0]:
-- Sort the age then take the middle value
-- When we have an odd number of rows


--case 01
-- (rnum_asc - rnum_desc as 0)
-- (rnum_asc == rnum_desc as 0)
select 
*
from
(
select
*,
row_number() over (order by emp_age) as rnum_asc,
row_number() over (order by emp_age desc) as rnum_desc
from 
emp 
where emp_id<=9
order by emp_age
) where rnum_asc=rnum_desc

emp_id,emp_name,department_id,salary,manager_id,emp_age,rnum_asc,rnum_desc
3,Vikas,100,10000,4,37,5,5

In [0]:
-- Even number of records
with cte as
(
select 
*,
row_number() over (order by emp_age) as rnum_asc,
row_number() over (order by emp_age desc) as rnum_desc
from
emp
)

select 
*
from
cte
where abs(rnum_asc-rnum_desc) <= 1;

emp_id,emp_name,department_id,salary,manager_id,emp_age,rnum_asc,rnum_desc
3,Vikas,100,10000,4,37,5,6
1,Ankit,100,10000,4,39,6,5

In [0]:
-- FOR EVEN NUMBER OF RECORDS

-- Even number of records
with cte as
(
select 
*,
row_number() over (order by emp_age) as rnum_asc,
row_number() over (order by emp_age desc) as rnum_desc
from
emp
)

select 
avg(emp_age)
from
cte
where abs(rnum_asc-rnum_desc) <= 1;

avg(emp_age)
38.0

In [0]:
-- Same Solution with the difference between rnum_asc and rnum_desc will be valid for odd number of records also

with cte as(
select
*,
row_number() over (order by emp_age) as rnum_asc,
row_number() over (order by emp_age desc) as rnum_desc
from
emp 
where emp_id<=9
)

select
*
from 
cte 
where abs(rnum_asc-rnum_desc)<=1

emp_id,emp_name,department_id,salary,manager_id,emp_age,rnum_asc,rnum_desc
3,Vikas,100,10000,4,37,5,5

In [0]:
-- Same Solution with the difference between rnum_asc and rnum_desc will be valid for odd number of records also

with cte as(
select
*,
row_number() over (order by emp_age) as rnum_asc,
row_number() over (order by emp_age desc) as rnum_desc
from
emp 
where emp_id<=9
)

select
avg(emp_age)
from 
cte 
where abs(rnum_asc-rnum_desc)<=1

avg(emp_age)
37.0

# **MEDIAN** USING PERCENTILE_CONT

**Assuming middle number will be at the 50th ppercentile
so use 0.5
pass the order by column on which we want to calculate the percentile (emp_age)
over() means over the full table we are calculating the median**

In [0]:
select
*,
percentile_cont(0.5) within group (order by emp_age) over () as median
from
emp
where emp_id <10

emp_id,emp_name,department_id,salary,manager_id,emp_age,median
1,Ankit,100,10000,4,39,37.0
2,Mohit,100,15000,5,48,37.0
3,Vikas,100,10000,4,37,37.0
4,Rohit,100,5000,2,16,37.0
5,Mudit,200,12000,6,55,37.0
6,Agam,200,12000,2,14,37.0
7,Sanjay,200,9000,2,13,37.0
8,Ashish,200,5000,2,12,37.0
9,Mukesh,300,6000,6,51,37.0

In [0]:
select
*,
percentile_cont(0.5) within group (order by emp_age) over() as median
from 
emp

emp_id,emp_name,department_id,salary,manager_id,emp_age,median
1,Ankit,100,10000,4,39,38.0
2,Mohit,100,15000,5,48,38.0
3,Vikas,100,10000,4,37,38.0
4,Rohit,100,5000,2,16,38.0
5,Mudit,200,12000,6,55,38.0
6,Agam,200,12000,2,14,38.0
7,Sanjay,200,9000,2,13,38.0
8,Ashish,200,5000,2,12,38.0
9,Mukesh,300,6000,6,51,38.0
10,Rakesh,300,7000,6,50,38.0

In [0]:

select
*,
percentile_cont(0.5) within group (order by emp_age) over (partition by department_id) as median
from
emp

emp_id,emp_name,department_id,salary,manager_id,emp_age,median
1,Ankit,100,10000,4,39,38.0
2,Mohit,100,15000,5,48,38.0
3,Vikas,100,10000,4,37,38.0
4,Rohit,100,5000,2,16,38.0
5,Mudit,200,12000,6,55,13.5
6,Agam,200,12000,2,14,13.5
7,Sanjay,200,9000,2,13,13.5
8,Ashish,200,5000,2,12,13.5
9,Mukesh,300,6000,6,51,50.5
10,Rakesh,300,7000,6,50,50.5