In [0]:
drop table if exists emp;
create table emp(emp_id int,emp_name varchar(10),department_id int, salary int ,manager_id int);

insert into emp values(1,'Ankit',100,10000,4);
insert into emp values(2,'Mohit',100,15000,5);
insert into emp values(3,'Vikas',100,10000,4);
insert into emp values(4,'Rohit',100,5000,2);
insert into emp values(5,'Mudit',200,12000,6);
insert into emp values(6,'Agam',200,12000,2);
insert into emp values(7,'Sanjay',200,9000,2);
insert into emp values(8,'Ashish',200,5000,2);

select * from emp;

emp_id,emp_name,department_id,salary,manager_id
7,Sanjay,200,9000,2
8,Ashish,200,5000,2
1,Ankit,100,10000,4
4,Rohit,100,5000,2
5,Mudit,200,12000,6
2,Mohit,100,15000,5
3,Vikas,100,10000,4
6,Agam,200,12000,2

# WHERE CLAUSE -> APPLY FILTER ON EACH ROW/RECORD

# HAVING CLAUSE -> APPLY FILTER ON THE AGGREGATED VALUE

In [0]:
select * from emp

emp_id,emp_name,department_id,salary,manager_id
7,Sanjay,200,9000,2
8,Ashish,200,5000,2
1,Ankit,100,10000,4
4,Rohit,100,5000,2
5,Mudit,200,12000,6
2,Mohit,100,15000,5
3,Vikas,100,10000,4
6,Agam,200,12000,2

In [0]:
SELECT
department_id,
avg(salary) as avg_salary
FROM
emp
group by department_id
having avg(salary)>1000

department_id,avg_salary
200,9500.0
100,10000.0

In [0]:
select
department_id,
avg(salary) as avg_sal
from
emp
where salary > 1000
group by department_id
having avg(salary)>1000

department_id,avg_sal
200,9500.0
100,10000.0